<template>
  <footer class="footer-container">
    <li class="contact-list-item" v-for="item in contacts" :key="item.info">
      <content class="footer-contact" @click="handleContact(item)">
        <img
          class="contact-image"
          :src="require(`../assets/img/${item.logo}.png`)"
          width="14"
          height="14"
        />
        <div>{{ item.info }}</div>
      </content>
    </li>
  </footer>
</template>

<script>
export default {
  data() {
    return {
      contacts: [
        {
          logo: "web",
          info: "https://pornthep-phanbua.web.app",
          action: true,
        },
        {
          logo: "linkedin",
          info: "https://www.linkedin.com/in/pornthep-phanbua",
          action: true,
        },
        {
          logo: "email",
          info: "pornthep.puung@gmail.com",
          action: false,
        },
        {
          logo: "tel",
          info: "080-971-2008",
          action: false,
        },
      ],
    };
  },
  methods: {
    handleContact(contact) {
      if (contact.action) {
        window.open(contact.info);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/styles.scss";
</style>
