<template>
  <header id="nav" class="header-container">
    <router-link to="/" class="link logo">
      <img
        src="https://apprecs.org/gp/images/app-icons/300/c9/ic.buzzebees.jpg"
        width="28"
        height="28"
      />
      <h4>BUZZEBEES</h4>
    </router-link>
    <div class="menu">
      <router-link to="/" class="link menu-item-margin">Gallery</router-link>
      <router-link to="/about" class="link">About ME</router-link>
    </div>
  </header>
</template>

<style lang="scss" scoped>
@import "@/assets/scss/styles.scss";
</style>
