body {
  margin: 0;
}

// [Home.vue] - to render gallery images
.gallery-img-container {
  padding: 0.8rem;
  @media only screen and (max-width: $mobile) {
    padding: 0;
  }
}
.gallery-img {
  padding: 0.8rem;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.gallery-img:hover {
  transition: all 0.5s;
  transform: scale(1.12);
}

// [About.vue]
.profile-title {
  color: #2c3e50;
}

// [TheFooter.vue]
.footer-container {
  background-color: #f9ac17;
  width: 100%;
  padding: 18px 0;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  font-weight: bold;

  @media only screen and (max-width: $tablet) {
    flex-wrap: wrap;
  }

  @media only screen and (max-width: $mobile) {
    flex-direction: column;
  }
}
// align the logo contact to near information
.footer-contact {
  display: flex;
  flex-direction: column;
  > div:last-child {
    margin-top: 6px;
  }
  @media only screen and (max-width: $mobile) {
    > div:first-child {
      align-self: flex-end;
    }
    flex-direction: row;
    justify-content: center;
  }
}

.contact-list-item {
  font-size: 0.9rem;
  list-style: none;
  box-sizing: border-box;
  @media only screen and (max-width: $tablet) {
    width: 50%;
  }
  @media only screen and (max-width: $mobile) {
    margin-top: 4px;
    width: 100%;
  }
}
.contact-image {
  align-self: center;
  @media only screen and (max-width: $tablet) {
    margin: 8px 0;
  }

  @media only screen and (max-width: $mobile) {
    margin: 0 8px 0 0;
  }
}

// TheHeader
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.logo {
  display: flex;
  align-items: flex-end;
  > img {
    margin-right: 0.5rem;
  }
}
.link {
  text-decoration: none;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu-item-margin {
  margin-right: 24px;
}

// [About.vue]
.about {
  padding: 2.4rem 4rem;
  @media only screen and (max-width: $tablet) {
    padding: 2.4rem 1.6rem;
  }
  @media only screen and (max-width: $mobile) {
    padding: 2.4rem 1.2rem;
  }
}
.achievement-image {
  display: flex;
  align-items: center;
}
