h1 {
  margin: 24px;
  color: $color-primary;
  font-weight: 900;
}

h3 {
  color: rgba(0, 0, 255, 0.8);
  text-align: left;
  margin-top: 2rem;
  border-bottom: 3px solid black;
  text-transform: uppercase;

  @media only screen and (max-width: $tablet) {
    font-size: 1.4rem;
  }
}

h4 {
  color: $color-primary;
  font-weight: 900;
  margin-bottom: auto;
}

.text-align-justify {
  text-align: justify;
}

.text-align-start {
  text-align: start;
}
