<template>
  <div class="text-align-start">
    <p>
      <strong>{{ no }}. {{ app }}</strong> - {{ company }}<br />
      <small>{{ duration }}</small
      ><br />
      <a :href="link" target="_blank">{{ link }}</a>
    </p>
  </div>
</template>

<script>
export default {
  props: {
    no: Number,
    app: String,
    company: String,
    duration: String,
    link: String,
  },
};
</script>

<style lang="scss">
@import "../../assets/scss/styles.scss";
a {
  margin-bottom: 0.5rem;
}
</style>
