<template>
  <div>
    <CvTopic topic="education" />
    <p class="text-align-start">
      {{ education.university }}<br />{{ education.degree }}<br />Expected
      graduation - {{ education.graduation }} <br />Culmulative GPA -
      {{ education.gpax }}
    </p>
  </div>
</template>

<script>
import CvTopic from "./CvTopic.vue";
export default {
  props: {
    education: Object,
  },
  components: { CvTopic },
};
</script>
