<template>
  <main class="text-align-start">
    <div>
      <strong>{{ position }}</strong> -
      <span :style="`color:${color}`">{{ company }}</span>
    </div>
    <small>{{ duration }}</small>
    <p>{{ description }}</p>
    <li v-for="response in responsibility" :key="response">{{ response }}</li>
  </main>
</template>

<script>
export default {
  props: {
    position: String,
    company: String,
    duration: String,
    months: Number,
    description: String,
    responsibility: Array,
    color: String,
  },
};
</script>

<style lang="scss" scoped>
@import "../../assets/scss/styles.scss";

main {
  margin-bottom: 0.7rem;
}
</style>
