<template>
  <div>
    <CvTopic topic="Profile" />
    <p class="text-align-justify">
      {{ profile.description }}
      <strong>{{ profile.strong }}</strong>
    </p>
  </div>
</template>

<script>
import CvTopic from "./CvTopic.vue";
export default {
  props: {
    profile: Object,
  },
  components: { CvTopic },
};
</script>
