<template>
  <div class="text-align-start">
    <strong>{{ project }}</strong>
    <p>{{ referrer }} - {{ contact.email }}, {{ contact.tel }}</p>
  </div>
</template>

<script>
export default {
  props: {
    project: String,
    referrer: String,
    contact: Object,
  },
};
</script>

<style lang="scss">
@import "../../assets/scss/styles.scss";
</style>
