<template>
  <main>
    <strong>{{ technical.text }}</strong>
    <li>{{ technical.value.join(", ") }}</li>
  </main>
</template>

<script>
export default {
  props: {
    technical: Object,
  },
};
</script>
