<template>
  <h3>{{ topic }}</h3>
</template>

<script>
export default {
  name: "CvTopic",
  props: {
    topic: String,
  },
};
</script>

<style lang="scss" scoped>
@import "../../assets/scss/styles.scss";
</style>
