<template>
  <main class="about">
    <h1 class="profile-title">{{ info.name }}</h1>
    <h5>{{ info.position }}</h5>
    <b-row>
      <b-col cols lg="8" xs="12">
        <CvProfile :profile="info.profile" />
      </b-col>
      <b-col cols lg="4" xs="12">
        <CvEducation :education="info.education" />
      </b-col>
    </b-row>
    <b-row>
      <b-col cols lg="8" xs="12">
        <CvTopic topic="experiences" />
        <CvExperience
          v-for="exp in experiences"
          :key="exp.deration"
          :position="exp.position"
          :company="exp.company"
          :duration="exp.duration"
          :months="exp.months"
          :description="exp.description"
          :responsibility="exp.responsibility"
          :color="exp.color ? exp.color : ''"
        />
      </b-col>
      <b-col cols lg="4" xs="12">
        <CvTopic topic="Goals" />
        <p class="text-align-justify">{{ info.goal }}</p>
      </b-col>
    </b-row>
    <b-row class="text-align-start">
      <b-col cols lg="6" xs="12">
        <CvTopic topic="Technical skills" />
        <CvTechnical
          v-for="tech in info.skills.technical"
          :key="tech.text"
          :technical="tech"
        />
      </b-col>
      <b-col cols lg="3" xs="12">
        <CvTopic topic="Soft skills" />
        <li v-for="soft in info.skills.soft" :key="soft">{{ soft }}</li></b-col
      >
      <b-col cols lg="3" xs="12">
        <CvTopic topic="Interests" />
        <li v-for="(interest, index) in info.interests" :key="interest + index">
          {{ interest }}
        </li>
      </b-col>
    </b-row>
    <CvTopic topic="Achievements" />
    <b-row>
      <b-col cols lg="6" xs="12">
        <CvAchievement
          v-for="(ach, no) in info.achievements"
          :key="ach.app"
          :no="no + 1"
          :app="ach.app"
          :company="ach.company"
          :duration="ach.duration"
          :link="ach.link"
        />
      </b-col>
      <b-col cols lg="6" xs="12" class="achievement-image">
        <b-carousel
          id="carousel-fade"
          style="text-shadow: 0px 0px 2px #000"
          :interval="2000"
          controls
          indicators
          img-width="1024"
          img-height="480"
        >
          <div
            v-for="index in 7"
            :key="index"
            @click="checkProject(info.achievements.length - index)"
          >
            <b-carousel-slide
              :img-src="require(`../assets/img/ach-0${index}.png`)"
              style="height: 100%"
            ></b-carousel-slide>
          </div>
        </b-carousel>
      </b-col>
    </b-row>
    <CvTopic topic="References" />
    <CvReference
      v-for="ref in info.references"
      :key="ref.project"
      :project="ref.project"
      :referrer="ref.referrer"
      :contact="ref.contact"
    />
  </main>
</template>

<script>
import CvAchievement from "../components/cv/CvAchievement.vue";
import CvExperience from "../components/cv/CvExperience.vue";
import CvReference from "../components/cv/CvReference.vue";
import CvTechnical from "../components/cv/CvTechnical.vue";
import CvProfile from "../components/cv/CvProfile.vue";
import CvTopic from "../components/cv/CvTopic.vue";
import info from "../mock/resume.json";
import CvEducation from "../components/cv/CvEducation.vue";
export default {
  components: {
    CvTopic,
    CvExperience,
    CvTechnical,
    CvAchievement,
    CvReference,
    CvProfile,
    CvEducation,
  },
  data() {
    return {
      info,
    };
  },
  computed: {
    experiences() {
      return info.experience.reverse();
    },
  },
  methods: {
    checkProject(projectIndex) {
      window.open(info.achievements[projectIndex].link);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/styles.scss";
</style>
