<template>
  <main>
    <SlideImage
      v-if="imageToShow"
      :name="imageToShow"
      @closeDialog="closeDialog"
      @orderImage="orderImage"
    />
    <h1>Gallery</h1>
    <b-row class="gallery-img-container">
      <b-col
        v-for="(fruit, index) in fruits"
        :key="fruit"
        cols
        sm="12"
        md="6"
        lg="3"
        width="100%"
      >
        <img
          class="gallery-img"
          :src="require(`../assets/img/${fruit}.jpg`)"
          @click="handleImage(index)"
        />
      </b-col>
    </b-row>
  </main>
</template>

<script>
import fruits from "@/mock/fruits.json";
import SlideImage from "@/components/home/SlideImage";

export default {
  name: "Home",
  data() {
    return {
      fruits,
      imageToShow: null,
      currentImageIndex: null,
    };
  },
  components: { SlideImage },
  methods: {
    handleImage(index) {
      this.currentImageIndex = index;
      this.imageToShow = fruits[index];
    },
    orderImage(type) {
      let nextImageToShow = this.currentImageIndex;
      type === "next" ? nextImageToShow++ : nextImageToShow--;
      if (nextImageToShow === fruits.length) nextImageToShow = 0;
      if (nextImageToShow === -1) nextImageToShow = fruits.length - 1;
      this.handleImage(nextImageToShow);
    },
    closeDialog() {
      this.imageToShow = null;
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/styles.scss";
.row {
  margin: 0;
}
</style>
