<template>
  <main @click="main">
    <i class="fa fa-chevron-left" @click="orderImage('previous')"></i>
    <img
      :src="require(`../../assets/img/${name}.jpg`)"
      :alt="name"
      @click="image"
      :width="`${width}%`"
      :height="`${height}%`"
    />
    <i class="fa fa-chevron-right" @click="orderImage('next')"></i>
  </main>
</template>

<script>
export default {
  props: {
    name: String,
  },
  data() {
    return {
      functionClicked: false,
      width: null,
      height: null,
    };
  },
  mounted() {
    let width = window.innerWidth;
    if (width <= 600) {
      this.width = 65;
      this.height = 30;
    } else if (width <= 900) {
      this.width = 60;
      this.height = 40;
    } else {
      this.width = 40;
      this.height = 50;
    }
  },
  watch: {
    functionClicked() {
      setTimeout(() => {
        this.functionClicked = false;
      }, 100);
    },
  },
  methods: {
    main() {
      if (this.functionClicked !== true) {
        this.$emit("closeDialog");
      }
    },
    image() {
      this.functionClicked = true;
    },
    orderImage(type) {
      this.functionClicked = true;
      if (type === "next") {
        this.$emit("orderImage", "next");
      } else {
        this.$emit("orderImage", "previous");
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../assets/scss/styles.scss";
main {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  cursor: pointer;
}
img {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 3;
  object-fit: fill;
}
div {
  position: relative;
  width: 100%;
  height: 100%;
}
i {
  font-size: 50px;
  transition: all 0.5s;
  color: yellow;
  opacity: 0.5;
}
i:hover {
  font-size: 51px;
  opacity: 1;
}

i:first-child {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 5;
  transform: translate(-1050%, -50%);
  @media only screen and (max-width: $tablet) {
    transform: translate(-900%, -50%);
  }
  @media only screen and (max-width: $mobile) {
    transform: translate(-480%, -50%);
  }
}
i:last-child {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 5;
  transform: translate(950%, -50%);
  @media only screen and (max-width: $tablet) {
    transform: translate(800%, -50%);
  }
  @media only screen and (max-width: $mobile) {
    transform: translate(380%, -50%);
  }
}
</style>
