<template>
  <div id="app">
    <TheHeader />
    <router-view />
    <TheFooter />
  </div>
</template>

<script>
import TheHeader from "./containers/TheHeader";
import TheFooter from "./containers/TheFooter";
export default {
  name: "App",
  components: {
    TheHeader,
    TheFooter,
  },
};
</script>

<style lang="scss">
@import "assets/scss/styles";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $color-dark;
}

#nav {
  padding: 18px;

  a {
    font-weight: bold;
    color: $color-dark;

    &.router-link-exact-active {
      color: $color-primary;
    }
  }
}
</style>
